asgiref==3.8.1
certifi==2025.6.15
Django==5.2.3
django-cors-headers==4.7.0
django-environ==0.12.0
djangorestframework==3.16.0
dnspython==2.7.0
geojson==3.1.0
geopandas==1.0.1
mongoengine==0.29.1
numpy==1.26.4
packaging==25.0
pandas==2.3.0
pymongo==4.13.1
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.14.1
shapely==2.0.6
six==1.17.0
sqlparse==0.5.3
turfpy==0.0.8
tzdata==2025.2
